@layer base {
  @font-face {
    font-family: "BoldTalouFont";
    src: url("./fonts/bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "LightTalouFont";
    src: url("./fonts/light.ttf") format("truetype");
  }
  h1,
  h2,
  h3 {
    @apply font-heading;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.myHeaderHomeBackground {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 4%,
    rgba(255, 255, 255, 0) 100%
  );
}
